.mainBannerWrap {
    width: 100%;

    .container {
        max-width: 1380px;
    }

    .mainBanner {
        width: 50%;
        background-size: cover;
        background-position: center;
        min-height: 800px;
    }

    .mainContent {
        width: 60%;
        position: relative;
        z-index: 10;
        margin-left: -10%;
        background-color: #fec901;
        padding: 2rem 3rem;
        margin-bottom: auto;
        min-height: 700px;

        .navigationWrap {
            justify-content: flex-end;
            padding: 0;

            .navbar-nav {
                flex-direction: unset;
                align-items: center;

                .nav-link {
                    padding: 0 1rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 0.9rem;
                    color: #fff;

                    &:hover {
                        color: #343536;
                    }

                    &.btnLink {
                        background-color: #343536;
                        padding: 0.5rem 1rem;
                    }
                }
            }
        }

        .logoWrap {
            margin-top: 5rem;
            margin-bottom: 5rem;

            .logoText {
                color: #3c3c3c;
                margin-top: 2rem;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 2.2rem;
            }
        }

        .contentMain {
            color: #3c3c3c;
            font-weight: 600;
            font-size: 0.8rem;

            h2 {
                font-size: 1.8rem;
                font-weight: 600;
                margin-bottom: 0;
            }
        }

        .linkedingProfile{
            margin-top: 3rem;
            
            .btn {
                box-shadow: 0 0 0;
                border: none;
                border-radius: 0;
                background-color: #016fac;
                color: #fff;
                font-weight: 400;
                font-size: 0.9rem;
                padding: 0.75rem 2rem;
            }
        }
    }
}