.mainBannerWrap {
    width: 100%;

    .container {
        max-width: 1380px;
    }

    .navigationWrap {
        justify-content: center;
        padding: 0;
        width: 100%;
        background-color: #fec901;

        .navbar-nav {
            flex-direction: unset;
            align-items: center;

            .nav-link {
                padding: 1rem 1rem;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.9rem;
                color: #fff;

                &:hover {
                    color: #343536;
                }
            }
        }
    }

    .mainBanner {
        width: 50%;
        background-size: cover;
        background-position: center;
        min-height: 800px;
    }

    .mainContent {
        width: 50%;
        position: relative;
        z-index: 10;
        background-color: #fec901;
        padding: 2rem;
        margin-bottom: auto;
        min-height: 800px;

        .logoWrap {
            margin-top: 0;
            margin-bottom: 5rem;

            .topTextArea {
                h1 {
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 94px;
                    margin-bottom: 0;
                }

                h2 {
                    font-size: 48px;
                    font-weight: 600;
                    margin-bottom: 0;
                }
            }

            .logoText {
                color: #3c3c3c;
                margin-top: 2rem;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 24px;
            }
        }

        .contentMain {
            color: #3c3c3c;
            font-weight: 600;
            font-size: 12px;
            line-height: 25px;

            h2 {
                font-size: 1.8rem;
                font-weight: 600;
                margin-bottom: 0;
            }
        }

        .linkedingProfile{
            margin-top: 3rem;
            
            .btn {
                box-shadow: 0 0 0;
                border: none;
                border-radius: 0;
                background-color: #016fac;
                color: #fff;
                font-weight: 400;
                font-size: 0.9rem;
                padding: 0.75rem 2rem;
            }
        }

        .btnWrap{
            margin-top: 2rem;

            .btnLink {
                background-color: #343536;
                padding: 0.5rem 1rem;
                color: #fff;

                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and ( max-width: 767px ){

    .mainBannerWrap{

        .container{
            flex-wrap: wrap;

            .mainBanner {
                width: 100%;
                min-height: 300px;
            }

            .mainContent {
                width: 100%;
                margin: 0;
                min-height: 1px;
                padding: 2rem;

                .logoWrap {
                    margin: 0 0 2rem;

                    .logoText {
                        font-size: 1.3rem;

                        br{
                            display: none;
                        }
                    }
                }
            }
        }
    }


}