.bioSectionWrap {
    padding: 3rem 0;

    .container {
        max-width: 1380px;

        .imageWrap {
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}