.btn.mobileMenuBtn {
    background-color: #fec901;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 0;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}